NODE_ENV=development
PORT=3000
MONGODB_URI=mongodb+srv://<User_Name>:<User_Password>@<Cluster_Name>.nt9j12f.mongodb.net/<DB_Name>?retryWrites=true&w=majority&appName=<Cluster_Name>

# JWT

JWT_ACC_EXPIRES_IN=1h 
JWT_ACC_SECRECT=some_jwt_access_secrect
JWT_REF_EXPIRES_IN=3600s
JWT_REF_SECRECT=some_jwt_reference_secrect

# Cloudinary for media file upload

CLOUDINARY_CLOUD_NAME=some_cloudinary_cloud_name
CLOUDINARY_API_KEY=some_cloudinary_api_name
CLOUDINARY_API_SECRET=some_clodinary_api_secret


# RazorPay

RAZORPAY_KEY_ID=razorpay_api_key_id
RAZORPAY_KEY_SECRET=razorpay_api_key_secret

# Public Urls
NEXT_PUBLIC_PROD_URL=https://your-domain.com
NEXT_PUBLIC_DEV_URL=http://localhost:5001

# Deployment 

CLIENT_URL=https://augen-client.onrender.com
SERVER_URL=https://augen-server.onrender.com